.center {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
}

.card {
  padding: 3rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 4%) !important;
  width: fit-content;
}

.m-auto {
  margin: auto;
}
